= javascript_include_tag "pages/dashboard", type: "module", "data-turbolinks-track": "reload"
= stylesheet_link_tag "pages/dashboard", media: "all", "data-turbolinks-track": "reload"

%h1 Welcome to Dashboard
%p This is the hello page.