= javascript_include_tag "pages/dashboard", type: "module", "data-turbolinks-track": "reload"
- content_for :stylesheets do
  = stylesheet_link_tag 'pages/dashboard'

%div.grid.text-white{ style: "grid-template-columns: auto 1fr;  height: calc(100vh - 50px);" }

  = render "shared/sidebar", container: @dashboard
  = render "shared/workspace", container: @dashboard.container

  