- content_for :stylesheets do
  = stylesheet_link_tag 'controllers/dashboard_controller'
  
%div.grid.text-white{ style: "grid-template-columns: auto 1fr;  height: calc(100vh - 50px);", data: { controller: "dashboard" } }
  
  = render "shared/sidebar", container: @template
  = render "shared/workspace", container: @template

 