@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Italic"), local("OpenSans-Italic"),
    url("OpenSans-Italic.woff2") format("woff2"),
    url("OpenSans-Italic.woff") format("woff");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Regular"), local("OpenSans-Regular"),
    url("OpenSans-Regular.woff2") format("woff2"),
    url("OpenSans-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Bold"), local("OpenSans-Bold"),
    url("OpenSans-Bold.woff2") format("woff2"),
    url("OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-display: swap;
}
