= javascript_include_tag "pages/home", type: "module", "data-turbolinks-track": "reload"
- content_for :stylesheets do
  = stylesheet_link_tag 'pages/home'

%div.container.mx-auto.text-white.home
  %div Hello World!