@use "./variables.scss";

.home {
  margin-top: 40px;
  font-size: 18px;

  &-sidebar {
    padding: 0 10px;

    // navigation buttons in the home sidebar
    &__btn {
      padding: 5px 8px;
      margin-bottom: 10px;
      border-radius: 5px;
      transition: variables.$transition;

      &:hover {
        background-color: rgba($color: variables.$color-1, $alpha: 0.2);
      }

      &_active {
        background-color: rgba($color: variables.$color-1, $alpha: 0.5);

        &:hover {
          background-color: rgba($color: variables.$color-1, $alpha: 0.7);
        }
      }

      &__icon {
        margin-inline-end: 7px;
      }
    }

    // separation line in the home sidebar
    &__line {
      border-bottom: 1px solid variables.$color-2;
      margin: 10px 0;
    }

    // label text in the home sidebar
    &__label {
      font-size: 12px;
      margin: 10px 0;
      margin-inline-start: 5px;
      user-select: none;
    }

    // dashboard buttons in the home sidebar
    &__workspace {
      margin-bottom: 15px;
    }
  }

  &-main {
    &__label {
      margin-inline-start: 10px;
      margin-bottom: 20px;
      user-select: none;

      &__icon {
        margin-inline-end: 7px;
      }

      &:not(:first-of-type) {
        margin-top: 20px;
      }
    }

    // dashboard box
    &__dashboard {
      border-radius: 5px;
      background-color: #032886;
      user-select: none;
      transition: variables.$transition;

      aspect-ratio: 16/7;
      padding: 8px 10px;

      &:hover {
        box-shadow: variables.$box-shadow;
      }
    }
  }
}
