// Variables
$background-1:   #272727;
$background-2:   #303030;

$color-1:        #8a7dda;
$color-2:        #8a8a8a;
$color-3:        #c0c0c0;
$color-4:        #FF7474;
$color-5:        #038626;

$box-shadow:     0 4px 8px 0 rgba($color-1, 0.1);
$transition:     0.3s all ease-in-out;
