%p Rtello - Resend Confirmation!
%p Welcome to Rtello, #{@resource.email}!
%p= link_to 'Change my password', user_confirmation_url(confirmation_token: @token)
%p If you didn't request this, please ignore this email.
