%p Rtello - Email Confirmation!
%p Welcome to Rtello, #{@resource.email}!
%p= link_to 'Confirm Email', user_confirmation_url(confirmation_token: @token)
%p If you didn't request this, please ignore this email.
